*{
    padding: 0 ;
    margin: 0 ;
    text-align: center !important;
    text-decoration: none !important;
}

body{
    font-family: Verdana,;
    background-color: #bbbbbb ;
    height: 100vh ;
}

header{
    display: flex;
    background-color:#8d8e91;
    padding: 15px ;
    text-align: center;
}


.titulo{
    align-self: center;
    font-family: 'Optima';
    font-style: italic;
    color: #fff;
}

nav{
    background-color: #070707d7 ;
}

ul{
    display: flex;
    list-style: none;
}

li{
    padding:15px;
    
}

a{
    color: #fff !important;
}



footer{
    background-color:#8d8e91 ;
    margin-top: auto;
    padding: 7px;
}

.pupu{
    border: solid 1px lightgray;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

